wandb:
  entity: null
  resume: "never"

experiment:
  project: "BlockDiff-VLA"
  tracker: "tensorboard"
  name: "blockdiff-vla-official-dummy-smoke"
  output_dir: "outputs/blockdiff-vla-official-dummy-smoke"
  save_every: 1000
  eval_every: 1000
  generate_every: 1000
  log_every: 1
  log_grad_norm_every: 1000
  resume_from_checkpoint: false

act_step: 10

model:
  framework: "upvla"
  vq_model:
    type: "magvitv2"
    vq_model_name: "showlab/magvitv2"
  showo:
    load_from_showo: true
    pretrained_model_path: "showlab/show-o-w-clip-vit-512x512"
    w_clip_vit: true
    vocab_size: 58498
    llm_vocab_size: 50295
    llm_model_path: "./showlab/phi-1_5"
    codebook_size: 8192
    num_vq_tokens: 1024
    num_new_special_tokens: 10
  vla:
    num_view: 1
  gradient_checkpointing: true

dataset:
  gen_type: "future_view_prediction_w_action"
  und_type: "llava_tuning"
  combined_loader_mode: "min_size"
  params:
    train_pre_shards_path_or_url: "./dummy_data/calvin_processed_training"
    train_mmu_shards_path_or_url: "./dummy_data/llava_tuning_665k_data"
    add_caption_prompt: true
    validation_prompts_file: "./validation_samples/predict_prompts.txt"
    shuffle_buffer_size: 16
    num_workers: 0
    resolution: 64
    pin_memory: false
    persistent_workers: false
  preprocessing:
    max_seq_length: 128
    resolution: 64
    center_crop: false
    random_flip: false

optimizer:
  name: adamw
  params:
    learning_rate: 0.0001
    scale_lr: false
    beta1: 0.9
    beta2: 0.999
    weight_decay: 0.01
    epsilon: 1e-8

lr_scheduler:
  scheduler: "cosine"
  params:
    learning_rate: ${optimizer.params.learning_rate}
    warmup_steps: 1

training:
  clip_pad_tokens: false
  gradient_accumulation_steps: 1
  batch_size_pre: 1
  batch_size_mmu: 1
  mixed_precision: "no"
  enable_tf32: false
  seed: 10086
  max_train_steps: 1
  overfit_one_batch: false
  cond_dropout_prob: 0.0
  min_masking_rate: 0.0
  label_smoothing: 0.0
  max_grad_norm: null
  guidance_scale: 0.0
  generation_timesteps: 1
  pre_coeff: 1.0
  act_coeff: 1.0
  mmu_coeff: 0.1

eval: false
mmu_image_root: "./validation_samples"
question: "Please describe this image in detail."
max_new_tokens: 16
